<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating my-3">
    <%= f.email_field :email,
                      class: "form-control",
                      autocomplete: "email",
                      id: "email",
                      placeholder: "example@email.com" %>
    <%= f.label :email, for: "email" %>
  </div>

  <div class="form-floating my-3">
    <%= f.password_field :password,
                         class: "form-control",
                         autocomplete: "new-password",
                         id: "password",
                         placeholder: "password" %>
    <%= f.label :password, for: "password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="my-3">
      <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
      <%= f.label :remember_me, for: "remember_me" %>
    </div>
  <% end %>

  <div class="actions my-2">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
