<!DOCTYPE html>
<html>
  <head>
    <title>ContactImporter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <main class="py-5">
      <div class="my-2">
        <%= render 'partials/alerts' %>
      </div>

      <section class="text-center container">
        <div class="row py-lg-5">
          <div class="col-12 mx-auto">
            <%= yield %>
            <!-- <h1 class="fw-light">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p> -->
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
